.themeToggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
    color: var(--text-primary);

    &:hover {
        transform: scale(1.2);
    }

    &:active {
        transform: scale(0.95);
    }
}